.chat-window-wrapper(ng-controller='chatController')

  .chat-window
    .flexbox-parent
      .flexbox-item.header
        .top-bar
          .col-md-8.col-xs-8
            h4 #{__("Chat Room")}
          .col-md-4.col-xs-4.nopadding
            button.close(type="button", ng-click='close()') &times;

      .flexbox-item.fill-area.content.flexbox-item-grow
        .fill-area-content.flexbox-item-grow(chat-auto-scroll)
          .msg-container-base
            chat-message-display(ng-repeat="message in messages" chat-message="message")
            div(ng-repeat="downloadInvitation in downloadInvitations")
              .msg-container.base-sent
                .messages.msg-sent(ng-class="{'myself': myself}")
                  .nopadding
                    span.published.small {{::downloadInvitation.displayName}} {{::downloadInvitation.published | amDateFormat:'h:mm a'}}
                    span.divider :
                    br
                    span.message Download proposition from {{::downloadInvitation.displayName}}  :
                    div(ng-repeat="fileName in downloadInvitation.fileNames")
                      span.filename {{::fileName}}
                    a(ng-click="downloadInvitation.wasAccepted(true)") accept
                    span.divider / 
                    a(ng-click="downloadInvitation.wasAccepted(false)") reject
      .flexbox-item.footer
        chat-message-editor
